[submodule "rtmp-rtsp-stream-client-java"]
	path = rtmp-rtsp-stream-client-java
	url = https://github.com/pedroSG94/rtmp-rtsp-stream-client-java.git
[submodule "HaishinKit.swift"]
	path = HaishinKit.swift
	url = https://github.com/shogo4405/HaishinKit.swift.git
